.courses {
    margin-top: 5vh;

}

/* .courses_content {
   
    margin-bottom: 60px;
} */

.courses .courses-left-dec img {
    width: 387px;
    height: 760px;
    left: -200px;
    top: -140px;
    position: absolute;
    z-index: 1;
}

.courses .courses-right-dec img {
    width: 305px;
    height: 205px;
    right: -0px;
    bottom: 560px;
    position: absolute;
    z-index: 1;
}

/* ---------------breadcrumbs-------------- */
.course_breadcrumb1 {
    margin-left: 30vh;
}

.courses_breadcrumbs {
    /* padding: 10px 0px; */
    /* box-shadow: 0 4px 30px -10px rgba(0,0,0,0.2); */
    width: fit-content;
}

.courses_breadcrumbs ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 8px;
}

.courses_breadcrumbs ul i {
    vertical-align: middle;
    font-weight: 600;
}

.courses_breadcrumbs ul li a {
    text-decoration: none;
    color: black;
    font-weight: 200;
}

.courses_breadcrumbs ul li a:hover {
    color: #0984e3;
}

.courses_breadcrumbs ul li:last-child a {
    font-weight: 400;
}

.courses_breadcrumbs ul li.course_breadcrumbs_arrow i {
    width: 18px;
}



.courses_content_title {
    /* text-align: center; */
    color: #0f3e7b;

}

.courses_content_title .section-title {
    margin: 40px 0 20px 0;


}

.courses_content_title .section-title-content {
    border-top: 1px solid #eee;
}

.courses_content_title p {
    padding-top: 20px;
    text-align: justify;
    font-size: 16px;
}

.courses_feature_videosection {
    text-align: center;
    padding: 40px 0px 0px 0px;
    margin-top: 30px;
    /* margin-bottom: 10vh; */
    /* background-color: #fafafa; */
    background-color: #fafafa;
}

/* .courses_feature{
    border-right: 1px solid #eee 10px;
   
} */
.courses_feature h3 {
    color: #0f3e7b;
}

.courses_feature_border {
    border-right: 1px solid #eee;
    padding-right: 20px;
}

.courses_feature_list {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 0px;
}

.courses_feature_list i {
    color: #ff695f;
}

.courses_feature_list button {
    /* display: block; */
    margin: 10px 0;
    padding: 10px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    width: 100%;
    text-align: center;
    height: 30%;
}

.courses_feature_list button a {
    color: black;
}

.courses_feature_list button a:hover {
    font-weight: 600;
}

.courses_video {
    width: 100%;
    height: 20rem;
    border-radius: 30px;
    margin-top: 35px;
    box-shadow: 0px 0px 15px #ff695f;
}

.courses_feature h3,
.courses_video h3 {
    padding-bottom: 20px;
}

.courses_video_button {
    padding-top: 40px;
}

.courses_video_button button {
    margin-right: 20px;
}

.courses_video_options {
    padding: 20px;
    /* margin-left: 130px; */
}

.courses_video_options ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 100px;
    font-size: 22px;
    color: black;
}

.courses_video_options_content {
    text-align: left;
    border-top: 1px solid #eee;
    padding-bottom: 20px;
}

.courses_video_options_content p {
    padding: 20px 20px;
    text-align: center;
}

.courses_video_options button {
    /* margin: 10px 0; */
    /* padding: 10px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    color: #333;    
    font-size: 16px; */
    /* width: fit-content; */
    width: 50%;
    display: inline-block;
    background-color: #ff695f;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    padding: 12px 12px;
    border-radius: 23px;
    letter-spacing: 0.25px;
    transition: all .1s;
    border: none;
}

.courses_video_options button:hover {
    font-weight: bold;
    border: 2px solid #03a4ed;
}

.courses_video_options button a {
    color: #fff;
}

.courses_video_options button a {
    color: #fff;
}

.courses .courses-left-dec img {
    width: 300px;
    height: 760px;
    left: -200px;
    top: -140px;
    position: absolute;
    z-index: 1;
}

.courses .courses-left-dec2 img {
    width: 300px;
    height: 500px;
    left: -200px;
    bottom: -550px;
    position: absolute;
    z-index: 1;
}

.courses .courses-right-dec img {
    width: 305px;
    height: 205px;
    right: 0px;
    bottom: -557px;
    position: absolute;
    z-index: 1;
}

.intro_content_title {
    /* text-align: center; */
    color: #03a4ed;
    padding: 30px 0px 15px 0px;
}

.intro_content_title h3 {
    /* text-align: center; */
    color: #0f3e7b;
    /* padding-top: 30px; */
}
.intro_content_title ul{
    padding: 10px 0px 10px 70px;
}
.intro_content_title ul li{
    color: black;
    list-style:disc;
    padding-bottom: 10px;
}

.intro_content_title p {
    padding-top: 20px;
    text-align: justify;
    font-size: 16px;

}

.course_content_status {
    padding-left: 0px;
}

.course_page_button {
    text-align: center;
    margin: auto;
    border-top: 1px solid #eee;
    padding: 40px;
}

.content-img {
    margin-top: 20px !important;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    width: 60%;
    /* height: 500px; */
    display: block;
    margin: 0 auto;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    /* transition: 0.5s; */
}
/* .content-img:hover{
    transform: scale(1.08);
} */

.intro_content {
    padding: 30px;
    width: 60%;
    display: block;
    margin: 0 auto;
}

@media (max-width:1200px) {
    .courses .courses-left-dec img {
        display: none;
    }
    .courses_video_options button{
        width: 65%;
        font-size: 14px;
        margin-top: 10px;
    }
    .content-img{
        height: 400px ;
    }
}

@media (max-width:991px) {
    .courses .courses-right-dec img {
        display: none;
    }
    .courses_video_options button{
        width: 80%;
        font-size: 12px;
        margin-top: 10px;
    }
    .content-img{
        height: 300px ;
    }
}
@media (max-width:767px){
    .courses .courses-right-dec img {
        display: none;
    }
    .courses_video_options button{
        width: 30%;
        font-size: 12px;
        margin-top: 10px;
    }
    .content-img{
        width: 80%;
        height: 280px ;
    }
}