/* ---------------breadcrumbs-------------- */
.courses_breadcrumbs {
  padding: 10px 48px;
  /* box-shadow: 0 4px 30px -10px rgba(0,0,0,0.2); */
  width: fit-content;
}

.courses_breadcrumbs ul {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 8px;
}

.courses_breadcrumbs ul i {
  vertical-align: middle;
  font-weight: 600;
}

.courses_breadcrumbs ul li a {
  text-decoration: none;
  color: black;
  font-weight: 200;
}

.courses_breadcrumbs ul li a:hover {
  color: #0984e3;
}

.courses_breadcrumbs ul li:last-child a {
  font-weight: 400;
}

.courses_breadcrumbs ul li.course_breadcrumbs_arrow i {
  width: 18px;
}

/* 
---------------------------------------------
Psychological facts content
--------------------------------------------- 
*/

.facts-time .facts-img {
  /*   padding: 30px; */
  width: 60%;
  /* height: 500px; */
  display: block;
  margin: 0 auto;
  /* padding-top: 20px; */
  /* padding-bottom: 20px; */
  /* transition: 0.5s; */
  border: 2px solid rgba(0, 0, 0, 0.153);
  border-radius: 4px;
  padding: 5px;
}
.summary_img_content{
  padding-top: 20px;
}
/* .facts-img:hover{
  transform: scale(1.08);
} */
.facts-time {
  text-align: left;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
}

.facts-time-content {
  margin-bottom: 50px;
}

/* .facts-time-content ul {
  margin-top: 60px;
} */

.facts-time-content ul li i {
  color: #ff695f;
}

.facts-time i {
  color: #03a4ed;
  font-size: 20px;
}

.facts-time span {
  margin-bottom: 20px !important;
  font-weight: 500;
  color: #ff695f
}

.facts-time p {
  text-align: justify;
  font-size: 16px;
  padding-top:20px;
  font-weight: 400;
  color: black;
}
.facts-time p span {
  color: #03a4ed;
  padding-top: 20px;
  font-size: 18px;
  font-weight: 500;
}
.facts-time p span i{
  color: #ff695f;
}

.facts-time i {
  color: #03a4ed;
  font-size: 30px;
}

.facts-time ul {
  text-align: justify;
  font-size: 16px;
  font-weight: normal;
}

.facts-time ul li {
  padding-top: 20px;
  text-align: justify;
  list-style: disc;
}


.facts .facts-left-dec img {
  width: auto;
  height: auto;
  left: -150px;
  top: 170px;
  position: absolute;
}

.facts .container {
  position: relative;
}

.facts {
  position: relative;
  margin-top: 0px;
  padding-top: 30px;
  margin-bottom: 20vh;
}

.facts .item {
  text-align: left;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}


.facts .section-title h1 {
  color: #0f3e7b;
  /* text-align: center; */
  margin: 40px 0 20px 0;
}

.facts .section-title h1 .facts-icon {
  width: 45px;
  margin-right: 20px;
}

.content_status {
  text-align: center;
  margin: auto;
  padding-left: 0px;
  width: 50%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.facts_breadcrumbs {
  padding-left: 0px;
  margin-bottom: 30px;
}

.page_button button {
  margin: 10px 0;
  /* width: 25%; */
  display: inline-block;
  text-align: center;
  background-color: #ff695f;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
  transition: all .1s;
  border: none;
}


.page_button button:hover {
  font-weight: bold;
  border: 2px solid #03a4ed;
}

.page_button i {
  font-size: 18px;
}

.page_button a {
  text-decoration: none;
  color: #fff;
}

.facts_page_button {
  text-align: center;
}
@media (max-width:1200px) {
  .facts-time .facts-img {
    height: 400px;
  }
}

@media (max-width:991px) {
  .facts-time .facts-img {
    height: 300px;
  }
}
@media (max-width:767px){
  .facts-time .facts-img{
    height: 280px;
  }
}