/* 
---------------------------------------------
protips
--------------------------------------------- 
*/
.protips_content .protips-img {
  /* padding: 30px; */
  width: 80%;
  height: 500px;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.protips {
  /* text-align: center; */
  position: relative;
  margin-top: 5vh;
  margin-bottom: 20vh;
}

.protips_mainheading {
  /* text-align: center; */
  margin: 40px 0 20px 0;
  color: #0f3e7b;

}

.protips-section-title h3 {
  color: #ff695f;
  font-size: 24px;
  padding-top: 20px;
}

.protips_content ul span {
  color: #03a4ed;
  font-size: 18px;
  font-weight:500;
}

.protips_content  span  {
  color: #03a4ed;
  font-size: 18px;
  font-weight: 500;
}
.protips_content  span i{
  color:#ff695f;
}

.protips_content  p {
  padding-left: 30px;
  text-align: justify;
}

.protips p {
  text-align: justify;
  font-size: 16px;
  padding-top:20px;
  font-weight: 400;
  color: black;
}

.protips_sub {
  text-align: left;
  /* padding-left: 50px; */
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  /* margin-left: 60px; */
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}

.protips_sub i {
  color: #03a4ed;
  font-size: 30px;
}

.protips_sub ul {
  font-size: 17px;
  font-weight: normal;
  /* padding: 10px 0px 10px 70px; */
}

.protips_sub ul li {
  padding-bottom: 20px;
  text-align: justify;
}

.protips .protips-left-dec img {
  width: 487px;
  height: 738px;
  left: -300px;
  top: -70px;
  position: absolute;
  z-index: 1;
}

.protips .protips-right-dec img {
  width: 487px;
  height: 738px;
  right: -290px;
  bottom: -70px;
  position: absolute;
  z-index: 1;
}

.protips_breadcrumbs {
  padding-left: 0px;
}

.content_status {
  text-align: center;
  margin: auto;
  padding-left: 0px;
  width: 50%;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-right: 0px;
}

.page_button button {
  margin: 10px 0;
  /* width: 25%; */
  display: inline-block;
  background-color: #ff695f;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
  transition: all .1s;
  border: none;
}

.page_button button:hover {
  font-weight: bold;
  border: 2px solid #03a4ed;
}

.page_button i {
  font-size: 18px;
}

.page_button a {
  text-decoration: none;
  color: #fff;
}
.protips_button_page{
  text-align: center;
}